button {
  margin-right: 8px;
  padding: 8px 10px;
  border-radius: 6px;
  border: 0;
  background: var(--accent);
  color: white;
}
button:nth-child(2) {
  background: #fff;
  color: var(--accent);
  border: 1px solid var(--accent);
}
label {
  font-weight: 600;
  display: block;
  margin-bottom: 6px;
}
input {
  width: calc(100% - 40px);
  padding: 10px;
  border-radius: 16px;
  border: none;
  font-family: inherit;
  background-color: var(--panel);
  color: var(--text-primary);
  outline: none;
  box-shadow: none;
  transition: background-color 0.2s, border-color 0.2s;
}

input::placeholder {
  color: var(--meta-color);
}

input:focus {
  background-color: var(--hover-bg);
  border: 1px solid var(--accent-color);
}

input:focus {
  outline: none;
  box-shadow: none;
  border: none;
}

.bi-plus-lg {
  color: var(--accent);
}

.dropdown-toggle::after {
  display: none;
}

.spinner-border {
  width: 16px;
  height: 16px;
}
.chips-container-wrapper {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.chips-container-wrapper.show {
  max-height: 250px;
}

.chips-container {
  text-align: center;
  padding: 0px;
  background-color: var(--panel);
  border-top: 1px solid var(--border-color);
  border-radius: 50px;
}

.chip {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  background-color: var(--hover-bg);
  color: var(--text-color);
  padding: 8px 14px;
  margin: 6px;
  border-radius: 50px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;
  border: 1px solid var(--border-color);
}

.chip i {
  font-size: 1rem;
  color: var(--accent-color);
}

.chip:hover {
  background-color: var(--accent-color);
  color: #fff;
  transform: translateY(-2px);
}

.chip:hover i {
  color: #fff;
}
@media (max-width: 768px) {
  .chip-text {
    display: inline;
    font-size: 0.7rem;
  }

  .chip {
    padding: 4px 8px;
    gap: 4px;
  }

  .chip i {
    font-size: 1rem;
  }
}
