<div>


  <div class="param">
    <label>Temperature: {{temperature | number:'1.2-2'}}</label>
    <input class="slider-temp" type="range" min="0" max="1" step="0.01" 
           [value]="temperature" 
           (input)="temperatureChange.emit($any($event.target).valueAsNumber)" />
  </div>

  <div class="param">
    <label>Max tokens: {{maxTokens}}</label>
    <input class="slider-tokens" type="range" min="16" max="2048" step="16" 
           [value]="maxTokens" 
           (input)="maxTokensChange.emit($any($event.target).valueAsNumber)"/>
  </div>
</div>
