// .theme-toggle-btn {
//   padding: 8px 16px;
//   border-radius: 50px;
//   border: none;
//   outline: none;
//   background: var(--accent);
//   color: var(--bg);
//   font-size: 14px;
//   font-weight: 600;
//   letter-spacing: 0.5px;
//   cursor: pointer;
//   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
//   transition: all 0.3s ease;
// }

// .theme-toggle-btn:hover {
//   background: linear-gradient(135deg, var(--accent), #ff8533);
//   transform: translateY(-2px);
//   box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
// }

// .theme-toggle-btn:active {
//   transform: scale(0.97);
// }



// .theme-toggle {
//   position: relative;
//   display: inline-block;
//   width: 50px;
//   height: 26px;
// }

// .theme-toggle input {
//   opacity: 0;
//   width: 0;
//   height: 0;
// }

// .slider {
//   position: absolute;
//   cursor: pointer;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   background-color: var(--accent);
//   transition: 0.3s;
//   border-radius: 34px;
// }

// .slider:before {
//   position: absolute;
//   content: "";
//   height: 20px;
//   width: 20px;
//   left: 3px;
//   bottom: 3px;
//   background-color: var(--bg);
//   transition: 0.3s;
//   border-radius: 50%;
// }

// input:checked + .slider {
//   background-color:var(--accent);
// }

// input:checked + .slider:before {
//   transform: translateX(24px);
// }


.theme-toggle {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}

.theme-toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--accent);
  transition: 0.3s;
  border-radius: 34px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  font-size: 14px;
  color: var(--bg);
}

.icon {
  pointer-events: none;
  font-size: 14px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: var(--bg);
  transition: 0.3s;
  border-radius: 50%;
}

input:checked + .slider:before {
  transform: translateX(24px);
}
